<form class="" action="/display_puppy" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="breed" value="">
  <input type="integer" name="age" value="">
  <input type="submit" value="submit">
</form>
